@model BPCS.Models.ContactModel
@{
    ViewBag.Title = "Contact Bexhill Prostate Cancer Support";
}

<div>
    Image here
</div>

<h1>Contact</h1>

<p>
    To send an enquiry or message please use the form below completing your name, email address and message.
</p>

@using (Html.BeginForm())
{
    @Html.LabelFor(x => x.Name)
    @Html.TextBoxFor(x => x.Name)

    @Html.LabelFor(x => x.EmailAddress)
    @Html.TextBoxFor(x => x.EmailAddress)

    @Html.LabelFor(x => x.Message)
    @Html.TextAreaFor(x => x.Message)

    <input type="submit" />
}
    